replicaCount: 1

image:
  repository: kinetix/price-service
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8082

env:
  PORT: "8082"
  DATABASE_URL: "jdbc:postgresql://kinetix-postgresql:5432/kinetix_price"
  SEED_DATA: "false"

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

probes:
  path: /health
