apiVersion: v1
kind: Service
metadata:
  name: {{ include "risk-engine.fullname" . }}
  labels:
    {{- include "risk-engine.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "risk-engine.selectorLabels" . | nindent 4 }}
