global:
  resolve_timeout: 5m

route:
  group_by: ["alertname", "job"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: default

  routes:
    - match:
        severity: critical
      receiver: critical
      group_wait: 10s
      repeat_interval: 1h

receivers:
  - name: default
    webhook_configs:
      - url: http://host.docker.internal:8086/api/alerts/webhook
        send_resolved: true

  - name: critical
    webhook_configs:
      - url: http://host.docker.internal:8086/api/alerts/webhook
        send_resolved: true
